<div class="jumbotron text-center font-weight-bold centered">
  <h1 class="display-4 text-center centered">NHL.com newsScraper</h1>
  <p class="lead centered">View the Saved Articles Here!</p>
  <img src="/images/puckOnIce.jpg" class="img-fluid" alt="Responsive image">

  <hr class="my-4">
</div>
<div class="container-fluid">
  <img src="/images/hockeyArena.jpg" class="img-fluid" alt="Responsive image">
  <div id="articles">
    <div class="card">
      <div class="card-title">
      </div>
      <div class="card-body">
      </div>
      <div class="col-md-12">
        {{#if articles}}
        {{#each articles}}
        <h4 class="card-title">{{this.title}}</h4>
        <h5>{{this.summery}}</h5> <br />
        <p>View article on NHL.com<a href=https://www.nhl.com{{this.link}}> here</a> </p> <button type="button"
            class="btn btn-danger delete mb-3" data-id={{this._id}}>Delete</button>
            <button type="button" id="saveNote" class="btn btn-success mb-3 ml-3" data-id={{this._id}}>save
              note</button>
            <textarea name="note" id="articleNote" cols="5" rows="5"></textarea>
            <hr class="body" />
            {{/each}}
            {{else}}
            <div class="card shadow mb-10 bg-black rounded">
              <div class="card-header" id="titleinput">
                <h1 class="text-center text-danger">Please Save an Article First.</h1>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
{{/if}}